# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CTI.Asset.Management.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Cliente\Downloads\Projects\CTI.Asset.Management\.idea\.idea.CTI.Asset.Management.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
